/*
 * Author: Chris Walker
 * Author URI: http://github.com/deno085
 * License: MIT
*/

#deno-new-timeline-submit
{   
    float: right; 
    font-weight: bold;    
}

#deno-timeline-add-new-metabox
{
    display: none;
}

span.deno-timeline-delete-item
{
    float: right;
    margin-right: 10px;
}

.timeline-settings-form-field label
{
    display: block;
}

textarea.deno-timeline-settings-plain-text-content
{
    width: 100%;
}

select.deno-timeline-settings-select-post-content 
{
    width: 100%;
}